.fakulteti {
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  margin-left: 300px;
  margin-right: 40px;
}

.mape__fakulteta {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.mape__fakulteta button {
  padding: 10px;
  margin-left: 20px;
  background-color: #f95555;
  border: 0;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.mape__fakulteta button img {
  margin-right: 5px;
}

.fakultet__items {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
}
