.saved_item button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 15px;
  background-color: rgb(236, 236, 236);
  border: 0;
  cursor: pointer;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-top: 15px;
}

.saved_item:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.btn-image {
  margin-right: 10px;
}